# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Administrator.DESKTOP-KMH7HN6\Downloads\baidudownload\12-lucene\课件资料\课件资料\04.source\备份\lucene-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
